body{
	margin: 0;
	padding: 0;
}
textarea{
	font-size: 1.2em;
}
.Title{
	color: #556b2f;
	font-weight: bold;
}
#Siyouhou{
	background-color: #f5f5dc;
}
#Siyouhou h2{
	font-size: 1em;
	color: #556b2f;
}
#Siyouhou ul{
	list-style: none;
	padding-left: 0 !important;
}
@media screen and (min-width: 481px){
	h1{
		font-weight: normal;
		padding-left: 0.5em;
	}
	h1::after{
		content: 'Toki Pona Script Converter';
		display: block;
		font-size: 0.7em !important;
	}
	article{
		margin: 1em;
	}
	textarea{
		display: inline-block;
		width: 30em;
		height: 5em;
	}
	#Siyouhou{
		padding: 1em;
		width: 80em;
	}
	#Siyouhou h2{
		font-size: 1em;
		color: #556b2f;
		margin: 0;
		}
	.Title{
		display: inline-block;
		width: 25em;
	}
	.Resp{
		display: inline-block;
		width: 18em;
	}
	.copy{
		display: none;
	}
}
@media screen and (max-width:480px) {
	h1{
		text-align: center;
		font-size: 1.5em;
		background-color: #556b2f;
		color: #fff;
		margin: 0;
		padding: 0;
		font-weight: normal;
	}
	textarea{
		display: block;
		width: calc(100% - 1em);
		height: 5em;
		padding: 0;
		margin: 0.5em;
	}
	#Siyouhou{
		margin: 0.5em;
		padding: 0.5em;
	}
	#Siyouhou h2{
		text-align: center;
		margin: 0;
		}
	.Resp::after{
		content: '　→　'
	}
	#Siyouhou h2::before{
		content: '●';
		color: #556b2f;
	}
	#Siyouhou h2::after{
		content: '●';
		color: #556b2f;
	}
	.Compl{
		padding-left: 1em;
	}
	.Title{
		display: block;
	}
	.copy{
		background: #008080;
		color: white;
		display: block !important;
		margin: 0.5em;
		width: calc(100% - 2em);
		padding: 0.5em;
		text-align: center;
		font-size: 1em;
	}
}